<h1>Add product </h1>
<%- include ('./partials/messages') %>

<form action ="/users/addProduct" method ="POST">
<div>
    <label for="">title</label>
    <input
    type="title"
    name="title"
    placeholder="Enter title"
    value="<%= typeof name != 'undefined' ? title :  '' %>"
    />
</div>

<div>
    <label for="description">description</label>
    <input
    type="description"
    name="description"
    placeholder="Enter description"
    value="<%= typeof name != 'undefined' ? description : '' %>"
    />
</div>

<div>
    <label for="category">category</label>
    <input
    type="category"
    name="category"
    placeholder="Enter category"
    value="<%= typeof name != 'undefined' ? category : '' %>"
    />
</div>

<div>
    <label for="category">location</label>
    <input
    type="location"
    name="location"
    placeholder="Enter location"
    value="<%= typeof name != 'undefined' ? location : '' %>"
    />
</div>

<div>
    <label for="images">images</label>
    <input
    type="images"
    name="images"
    placeholder="Enter images"
    value="<%= typeof name != 'undefined' ? images : '' %>"
    />
</div>

<div>
    <label for="asking_price">asking_price</label>
    <input
    type="asking_price"
    name="asking_price"
    placeholder="Enter asking price"
    value="<%= typeof name != 'undefined' ? asking_price : '' %>"
    />
</div>

<div>
    <label for="delivery_type">delivery_price</label>
    <input
    type="delivery_type"
    name="delivery_type"
    placeholder="Enter delivery type"
    value="<%= typeof name != 'undefined' ? delivery_type : '' %>"

    />
</div>

<div>
    <label for="name">name</label>
    <input
    type="name"
    name="name"
    placeholder="Enter name"
    value="<%= typeof name != 'undefined' ? name : '' %>"

    />
</div>

<div>
    <label for="phone_number">Phone number</label>
    <input
    type="phone_number"
    name="phone_number"
    placeholder="phone_number"
    value="<%= typeof name != 'undefined' ? phone_number : '' %>"

    />
</div>

<button type="submit" class="btn btn-primary btn-block">
    Add product
  </button>




</form>


